[Unit]
Description=Automatic ulog download and upload
Wants=network.target
Requires=mavlink-router.service
After=syslog.target network.target mavlink-router.service

[Service]
Type=simple
ExecStart=/usr/local/bin/logloader
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
