[Unit]
Description=Automatic ulog download and upload
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/logloader
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
